doctype html
html(lang="en")
include layout/head

body
  .container
    header.header 
      include layout/header
    main.main 
      include layout/main
    footer.footer 
      include layout/footer
